.title-of-page {
    color: white;
    margin-top: 100px;
    margin-left: 650px;
    margin-right: 650px;
    text-align: center;
    border-radius: 5px;
}

.pictureMe {
    margin-left: 800px;
    margin-top: 100px;
    border-radius: 50%;
    border: solid 1px black;
}

body {
    background-color: #3e424b;
    background-repeat: no-repeat;
    height: 10%;
    background-size: cover;
}

.background {
    background-image: url("https://i.pinimg.com/originals/a7/76/49/a77649556c5008051ae0036f7170bd87.jpg");
    padding-top: 100px;
    padding-bottom: 300px;
}

.aboutMe {
    background-color: #222021;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 310px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: rgb(0, 0, 0) solid;
}

#aboutMeHead {
    background-color: #222021;
    border-radius: 5px;
    text-align: center;    
}

ul {
    list-style-type: none;
}

.container-1 {
    font-size: 18px;
}

.personalBio {
    background-color: #222021;
    width: 20%;
    height: 450px;
    border-radius: 5px;
    float: left;
    margin-top: 100px;
    margin-left: 350px;
    padding-top: 20px;
    border: rgb(0, 0, 0) solid;
    text-decoration: none;
}

#personalBioHead {
    background-color: #222021;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
}

#personalBioPar {
    border-radius: 5px;
}

.education {
    background-color: #222021;
    width: 20%;
    height: 450px;
    border-radius: 5px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    padding-top: 20px;
    border: rgb(0, 0, 0) solid;
}

#educationHead {
    background-color: #222021;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
}

#educationPar {
    background-color: #222021;
    border-radius: 5px;
}

.skills {
    background-color: #222021;
    width: 20%;
    height: 450px;
    border-radius: 5px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    padding-top: 20px;
    border: rgb(0, 0, 0) solid;
}

#skillsHead {
    background-color: #222021;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
}

#skillsPar {
    background-color: #222021;
    border-radius: 5px;
}

.container-2 {
    font-size: 18px;
    margin-bottom: 1150px;
}

.hobbies {
    background-color: #222021;
    width: 20%;
    height: 450px;
    border-radius: 5px;
    float: left;
    margin-top: 50px;
    margin-left: 600px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgb(0, 0, 0) solid;
}

#hobbiesHead {
    background-color: #222021;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

#hobbiesPar {
    background-color: #222021;
    border-radius: 5px;
}

.codingExperience {
    background-color: #222021;
    width: 20%;
    height: 450px;
    border-radius: 5px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgb(0, 0, 0) solid;
}

#codingExperienceHead {
    background-color: #222021;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

#codingExperiencePar {
    background-color: #222021;
    border-radius: 5px;
}

.container-3 {
    background-color: #222021;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
}

#experience {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
}

#GVDMAttorneysHeading {
    font-size: 20px;
    font-weight: bold;
    margin-left: 32px;
}

.GVDMAttorneys {
    display: inline-block;
    float: left;
    margin-left: 70px;
    font-size: 18px;
}

#gateWaySchoolHeading {
    font-size: 20px;
    font-weight: bold;
    margin-left: 32px;
}

.gatewayChristianSchool {
    display: inline-block;
    margin-left: 200px;
    font-size: 18px;
}

#gwHeading {
    font-size: 20px;
    font-weight: bold;
    margin-left: 32px;
}

.gw {
    display: inline-block;
    margin-left: 200px;
    font-size: 18px;
}

.container-4 {
    margin-top: 50px;
}

#projects {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    font-size: 25px;
}

#project {
    float: left;
    height: 450px;
    border: rgb(0, 0, 0) solid;
    border-radius: 5px;
    display: inline-block;
    padding-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    margin-left: 90px;
    margin-right: 50px;
    width: 17%;
    background-color: #222021;
    text-align: center;
}

.heading-of-project {
    color: aliceblue;
    text-transform: uppercase;
    margin-top: 20px;
    
}

#description-of-project {
    text-align: justify;
    padding: 10px;
    padding-bottom: 59px;
    color: aliceblue;
}

.image-of-project {
    margin-top: 20px;
    border: rgb(0, 0, 0) solid;
}

/*Footer start*/

#Footer-Section {
    width: 100%;
    background-color: rgb(25, 230, 179);
    float: left;
    margin-top: 50px;
  }

  .footer {
    background-color: rgb(25, 230, 179);
    padding-top: 50px;
  }
  
  #contact-message {
    text-align: center;
  }
  
  .contact-links {
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
  }
  
  .fa {
    padding: 15px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px;
  }
  
  .fa-linkedin {
    background: #2d59b8;
    color: white;
    padding: 20px;
    margin-left: 100px;
  }

  .fa-yahoo {
    background: #430297;
    color: white;
    padding: 20px;
    margin-left: 100px;
  }
  
  .fa-phone {
    background: #63C5DA;
    color: white;
    padding: 20px;
    margin-left: 100px;
  }
  
  /*Footer end*/


 

